# Here is the machine learning model

### A Quick note
Note that in some features, I have used "-1, 0 and 1" where -1 stands for no pain, 0 for medium pain and 1 for severe pain. I have used Logistic regression. Note that the model is not accurate as the data is randomly generated

In [1]:
import pandas as pd

## Reading data from csv file

In [2]:
df = pd.read_csv('data.csv')

## EDA

In [3]:
df.head()

   fever  runnyNose  BodyPain  Cough  PainInThroat  infProb
0    100          1         1      1             1        1
1     97          0         1      0             0        1
2    102          1         0      0             1        0
3    102          0         1      1            -1        1
4     99          0         0      0             0        0

In [4]:
df.tail()

      fever  runnyNose  BodyPain  Cough  PainInThroat  infProb
3054    102          1         0      0             0        1
3055    106          0        -1      1             1        1
3056    105          0        -1     -1             1        1
3057    101          1         0      0            -1        0
3058    100          1        -1      0            -1        0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3059 entries, 0 to 3058
Data columns (total 6 columns):
fever           3059 non-null int64
runnyNose       3059 non-null int64
BodyPain        3059 non-null int64
Cough           3059 non-null int64
PainInThroat    3059 non-null int64
infProb         3059 non-null int64
dtypes: int64(6)
memory usage: 143.5 KB

In [6]:
df.describe()

,fever,runnyNose,BodyPain,Cough,PainInThroat,infProb
count,3059.000000,3059.000000,3059.000000,3059.000000,3059.000000,3059.000000
mean,99.531546,0.493952,-0.022229,-0.031056,-0.017653,0.497548
std,4.041710,0.500045,0.816861,0.817174,0.818573,0.500076
min,93.000000,0.000000,-1.000000,-1.000000,-1.000000,0.000000
25%,96.000000,0.000000,-1.000000,-1.000000,-1.000000,0.000000
50%,100.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,103.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,106.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [7]:
df['BodyPain'].value_counts()

-1    1055
 0    1017
 1     987
Name: BodyPain, dtype: int64

## Train-test Splitting

In [8]:
import numpy as np
from sklearn.model_selection import train_test_split
X = df[['fever','runnyNose', 'BodyPain', 'Cough', 'PainInThroat']]
y = df['infProb']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [9]:
X_train.shape

(2447, 5)

In [10]:
y_train.shape

(2447,)

In [11]:
X_test.shape

(612, 5)

## Model Selection

In [12]:
from sklearn.linear_model import LogisticRegression

In [13]:
clf = LogisticRegression(solver='lbfgs')

In [14]:
clf.fit (X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

## Using the model

In [15]:
clf.predict_proba([[106,0,1,-1,-1]])[0][1]

0.52208927754559